


label{
    display: block;
}



.labels{
    width: 50%;
    height:auto ;
    background-color: white;
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
    position: relative;
    left: 20rem;
    border-radius: 10%;
    box-shadow: 5px 6px #808080 ;

}


#covid-container{
background-color: aliceblue;
padding: 5px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;

}

h2{

    text-align: center;
}
label{
    padding:10px;
}

@media (max-width: 480px){
        
    #covid-container{
    background-color: burlywood;
    padding: 2px;
    
    }
     .labels{
         position: relative;
        left: 50px;
        }
    }
    
